<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
      icon="arrow-back-circle-outline" 
      text="Volver"
       color="dark"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" ion-text-center>
  <img src="assets/logoassist.jpg" class="logoapp" >
  <img src="assets/escaneame.jpg" class="escanea" >
  <ion-title class="titulo2">En construccion</ion-title><br>

</ion-content>

