<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
      icon="arrow-back-circle-outline" 
      text="Volver"
       color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>
  <ion-toolbar>
    <img src="assets/logoassist.jpg" class="logoapp" >
  </ion-toolbar>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/registro.jpg" />
    <ion-card-header>
      <ion-card-title>Sobre la APP</ion-card-title>
      <ion-card-subtitle>¿Que es Assist QR?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      AssistQR es tu compañero ideal para gestionar la asistencia de los alumnos de manera eficiente y sin complicaciones. Escanea códigos QR de forma rápida y precisa para registrar la presencia en clases de forma instantánea. Simplifica la administración de asistencia y permite un seguimiento sin esfuerzo para profesores y estudiantes. ¡Mantén un registro impecable con AssistQR y optimiza tus clases como nunca antes!"
    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
      <ion-card-subtitle>Ventajas</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/qrverde.jpg" />
          </ion-thumbnail>
          <ion-note>Son fáciles de generar y leer, y han revolucionado la manera de obtener información</ion-note>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img  src="assets/qrrosa.jpg" />
          </ion-thumbnail>
          <ion-note>Facil de crear y usar y se puede editar cuando sea necesario</ion-note>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/qrazul.jpg" />
          </ion-thumbnail>
     <ion-note>Ayuda a mantener el distanciamiento social</ion-note>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="assets/qrrojo.jpg" />
          </ion-thumbnail>
         <ion-note>Ahorras papel y contribulles al medio ambiente</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>




 
