<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/logoassist.jpg" class="logoapp" >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" >
    
    <img src="assets/portada2.gif" alt="Portada" class="button-image">
    <br>
    <!--<ion-button class="custom-button" expand="full" color="success" shape="round">
      Ingresar App
    </ion-button>-->
    <ion-button (click)="ingresar()" class="custom-button" expand="block" fill="solid" shape="round">
      ingresar 
    </ion-button>
  </div>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <br>
    <div class="icon-container" color="tertiary">
      <a href="nuevouser">
        <ion-icon name="person-add-outline" ></ion-icon>
        <p class="icon-label">¿Usuario<br> Nuevo?</p> 
      </a>
    </div>
   
    <div class="icon-container">
      <a href="olvido">
      <ion-icon name="key-outline"></ion-icon>
      <p class="icon-label">¿Olvidaste <br>tu clave?</p>
    </a>
    </div>
    
    <div class="icon-container">
      <a href="sobre">
        <ion-icon name="help-circle-outline"></ion-icon>
        <p class="icon-label">¡Sobre la <br>aplicación!</p>
      </a>
    </div>
    
    <div class="icon-container">
      <a href="vivoduoc">
        <ion-icon name="school-outline"></ion-icon>
        <p class="icon-label">VivoDuoc</p><br>
      </a>
      
    </div>
  
  </ion-toolbar>
</ion-footer>

